
		
					*{
						margin: 0px;
						padding: 0px;
						font-family: 'poppins', sans-serif;
					}

					body{
						  
						  color: white;
						  
						}

			.header{

					width: 100%;
					height: 100px;
					background-color: #061926;
					}


		.container h5{

						color: whitesmoke;
						padding-left: 120px;
						padding-top: 21px;
						font-size: 45px;
						font-family: 'poppins', sans-serif;
						position: relative;
						top: -4px;
						
					}		



	.container h5 span{

						color: #00abf0;
				}
					

			.container{

					width: 1330px;
					height: 8px;
					//background: pink;				
					margin: auto;
					
				}

				

			.navi{
					float: right;
					width: 787px;
					height: 40px;
					margin-top: -40px;
					position: relative;
    				padding-left: 65px;
    				top: -23px;
					//background-color: darkgreen;

			}

			.navi ul li {

				display: inline;
			}

			.navi ul li a {

						
						color: whitesmoke;
					    text-decoration: none;
					    padding-left: 52px;
					    position: relative;
					    top: 10px;
					    font-size: 19px;
					    left: 119px;

			}

			.navi ul li a:hover{

						color: #00abf0;
						transition: 2s;
					}


				.home{
						height: 530px;
						width: 100%;
						display: flex;
						background: url('home.png') no-repeat;
						background-position: center;
						background-size: cover;
						align-items: center;
						
					}


				.content{
							//background: yellow;
							width: 500px;
						    position: relative;
						    top: -80px;
						    right: -125px;
				}

				.content h1{
							font-size: 34px;
							
							line-height: 1.2;
				}

				.content h3{	
							font-size: 25px;
							font-weight: 700;
							color: #00abf0;
				}
				.content p{

							font-size: 16px;
							margin: 20px 0 40px;
							position: relative;
    						top: -5px;
				}


		
					.social-links{
								
								bottom: 40px;
							    width: 200px;
							    display: flex;
							    justify-content: space-between;
							    position: relative;
							    left: 128px;
    							top: -12px;
							}


					.social-links a{

									position: relative;
									width: 40px;
									height: 40px;
									top:-95px;
									background: transparent;
									display: inline-flex;
									border: 2px solid #00abf0;
									border-radius: 50px;
									font-size: 20px;
									color: #00abf0;
									text-decoration: none;
									justify-content: center;
									align-items: center;
									z-index: 1;
									overflow: hidden;
									transition: 1s;
								}

					.social-links a:hover {

										color: #081b29;		
									}

				.social-links a::before{

										content: '';
										position: absolute;
										top: 0;
										left: 0;
										width: 0;
										height: 100%;
										background: #00abf0;
										z-index: -1;
										transition: .5s;
								}


			.social-links a:hover::before {

										width: 100%;
									}



							.About{

                                  width: 100%;
                                  height: 615px;
                                  background-image: url('about.png');
                                  background-size: 100% 560px;
                               }


                               	.content2 h1{

                               		position: relative;
								    top: 85px;
								    padding-left: 0px;
								    font-size: 31px;
								    text-align: center;
                               	}
                               	.content2 h1 span{

                               				color: #00abf0;
                               }

                               	.content2 h3{

                               		    font-size: 25px;
									    position: relative;
									    top: 433px;
									    padding-left: 0px;
									    text-align: center;


                               	}

                               	.content2 p{

											font-size: 15px;
										    position: relative;
										    top: 445px;
										    padding-left: 341px;
										    left: -156px;
										    text-align: center;
                               		
                               	}

                               	.about-img {
									    width: 21%;
									    height: 237px;
									    position: relative;
									    top: 76px;
									    padding-left: 0px;
									    background-image: url(Profile.jpg);
									    background-repeat: no-repeat;
									    background-size: 60% 243px;
									    left: 581px;
									}


							.box{

								  width: 100%;
                                  height: 700px;
                                  background-image: url('about.png');
                                  background-size: 100% 560px;

							}

							.body {
    									font-family: Arial, sans-serif;
									    margin: 0;
									    padding: 0;
									    display: flex;
									    justify-content: center;
									    align-items: center;
									    height: 100vh;
								}



										header {
										    text-align: center;
										    margin-bottom: 20px;
										}

										header h1 {
										    font-size: 35px;
										    position: relative;
										    top: 50px;
										    
										}

										 h1 span{

										       	color: #00abf0;
										      }

									.sections {

										    display: flex;
										    
										}

								.section {

										    width: 45%;
										}

									h2 {
										    text-align: left;
										    border-bottom: 2px solid #444;
										    padding-bottom: 10px;
										    margin-bottom: 20px;
										    position: relative;
											top: 71px;
										    left: 170px;
										    width: 66%;
										}

								.card {
										    background-color: #2c2c3e;
										    padding: 20px;
										    margin-bottom: 20px;
										    border-radius: 66px;
										    border-left: 4px solid #00aaff;
										     position: relative;
										    top: 80px;
										    left: 131px;
										    width: 73%;
										}

								.date {
										    font-size: 0.9em;
										    color: #aaa;
										}

								.title {
										    font-size: 1.2em;
										    margin: 10px 0;
										}

							.description {
										    font-size: 0.9em;
										    color: #bbb;
										}

							.box1{

								  width: 100%;
                                  height: 680px;
                                  background-image: url('about.png');
                                  background-size: 100% 560px;

							}




							.body {
    									font-family: Arial, sans-serif;
									    margin: 0;
									    padding: 0;
									    display: flex;
									    justify-content: center;
									    align-items: center;
									    height: 100vh;
									}

				.skills-section {
									    text-align: center;
									    width: 80%;
									    max-width: 1069px;
									}

				.skills-section h1 {
									    font-size: 35px;
									    position: relative;
									    top: 216px;
									    left: 115px;
									}

			.skills-section h1 span {
									   color: #00aaff;
									}

				.skills-container {
									  display: flex;
									  
									  position: relative;
									    top: 110px;
									    left: 10px;
									    gap: 120px;
									}

		.coding-skills, .professional-skills {
									    width: 45%;
									    position: relative;
									    left: 123px;
									    top: 170px;
									}

.coding-skills h2, .professional-skills h2 {

									    font-size: 25px;
									    margin-bottom: 45px;
									    border-bottom: 2px solid #00aaff;
									    padding-bottom: 2px;
									    position: relative;
									    top: -13px;
									    left: -2px;
									}

						.skill-bar {

									    margin-bottom: 20px;
									}

						.skill-info {
									    display: flex;
									    justify-content: space-between;
									    font-size: 1.1em;
									    margin-bottom: 5px;
									}

					.skill-progress {
									    background-color: #23395d;
									    border-radius: 25px;
									    overflow: hidden;
									}

			.skill-progress .progress {
									    height: 10px;
									    background-color: #00aaff;
									    border-radius: 25px;
									}

								.box2{

										  width: 100%;
		                                  height: 680px;
		                                  background-image: url('about.png');
		                                  background-size: 100% 560px;
									}

								.body {
    									font-family: Arial, sans-serif;
									    margin: 0;
									    padding: 0;
									    display: flex;
									    justify-content: center;
									    align-items: center;
									    height: 100vh;
									}

									.contact-section {
												    width: 80%;
												    max-width: 600px;
												    text-align: center;
												    position: relative;
    												top: 35px;
												}

								.contact-section h1 {
												    font-size: 35px;
												    margin-bottom: 20px;
												    position: relative;
													top: 50px;
													left: 354px;
												}

						.contact-section h1 span {
												    color: #00aaff;
												}

									.contact-form {
												    display: flex;
												    flex-direction: column;
												    position: relative;
												    top: 100px;
												    left: 362px;

												}

									.input-group {
												    display: flex;
												    justify-content: space-between;
												    gap: 17px;
												}

								.input-group input {
												    width: 48%;
												    height: 24px;
												    padding: 10px;
												    margin-bottom: 20px;
												    background-color: #23395d;
												    border: 1px solid #00aaff;
												    border-radius: 5px;
												    color: white;
												    font-size: 15px;
												}

										textarea {
												    padding: 10px;
												    background-color: #23395d;
												    border: 1px solid #00aaff;
												    border-radius: 5px;
												    color: white;
												    font-size: 15px;
												    height: 150px;
												    margin-bottom: 20px;
												    resize: none;
												}

										button {
												    padding: 10px;
												    background-color: #00aaff;
												    border: none;
												    border-radius: 26px;
												    color: white;
												    font-size: 18px;
												    cursor: pointer;
												    width: 135px;
												    position: relative;
												    left: 238px;

												}

									button:hover {
												    background-color: #0088cc;
												}

												body {
									    font-family: Arial, sans-serif;
									    line-height: 1.6;
									    margin: 0;
									    padding: 0;
									    background-color: #f4f4f4;
									}

									.footer {
									    background-color: #061926;
									    color: #fff;
									    padding: 20px 0;
									    position: relative;
									    bottom: 0;
									    width: 100%;
									}

									.footer-container {
									    display: flex;
									    justify-content: space-between;
									    flex-wrap: wrap;
									    max-width: 1200px;
									    margin: auto;
									    padding: 0 20px;
									}

									.footer-section {
									    flex: 1;
									    margin: 20px;
									    min-width: 200px;
									}

									.footer-section h2 {
									    margin-bottom: 15px;
									    top: 0px;
									    left: 0px;
									}

									 
.footer-section p, .footer-section ul, .footer-section li, .footer-section a {

									    margin: 0px;
									    list-style: none;
									    color: #bbb;
									    text-decoration: none;
									    padding-right: 0px;
									}

									.footer-section a:hover {
									    color: #fff;
									}

									.footer-section .social-links a {
									    display: inline-block;
									    margin-right: 10px;
									    transition: transform 0.3s ease;
									}

									.footer-section .social-links a img {
									    width: 24px;
									    height: 24px;
									}

									.footer-section .social-links a:hover {
									    transform: scale(1.2);
									}

									.footer-bottom {
									    background-color: #03081f;
									    text-align: center;
									    padding: 10px 0;
									    margin-top: 20px;
									}

									.social-links1{

										font-size: 25px;
									}



		

		@media (max-width: 768px) {


									    .body {
									        font-size: 14px;
									    }

									    .header {
									        
									        padding: 1px 0;
									    }

									    .container{

									    	width: 98%;
									        margin: auto;
									    }

									    .container h5 {

									    	padding-left: 322px;
									        padding-top: 21px;
									        font-size: 34px;
									        position: relative;
									        top: -13px;
									        left: -143px;

									    }

									    .navi {
									        display: flex;
									        flex-direction: column;
									        align-items: center;
									    }

									    .navi ul {
									        padding: 0;
									        position: relative;
									        top: 40px;
									    }

									    .navi ul li {
									        //display: block;
									        margin: 10px 12px;
									    }

									    .navi ul li a {
									        padding: 1px 1px;
									        font-size: 15px;
									        position: relative;
									        left: 153px;
									    }

									    
									    .home {
									        height: 355px;
									        flex-direction: column;
									        align-items: center;
									        
									    }

									    .content {
									        
									        width: 95%;
									        top: -67px;
									        right: 0px;
									        position: relative;
									        left: -84px;
									        padding-left: 96px;
									        
									        }

									    .content h1 {
									        font-size: 23px;
									    }

									    .content h3 {
									        font-size: 18px;
									    }

									    .content p {
									        font-size: 14px;
									        margin: 10px 0 20px;
									        top: 0;
									        padding-right: 190px;
									    }

									    									    

									    .social-links {
									        
									        left: 14px;
									        bottom: 20px;
									        top: 20px;
									        width: 174px;
									    }

									    .social-links a {
									        width: 35px;
									        height: 35px;
									        font-size: 20px;
									    }

									    .About {
									    		     height: 564px;
									    }

									    .content2 {

									    }

									   .content2 h1 {
									        font-size: 31px;
									        position: relative;
									        top: 100px;
									    }

									    .content2 h3 {
									        font-size: 24px;
									        position: relative;
									        top: 383px;
									    }

									    .content2 p {
									        font-size: 16px;
									        max-width: 100%;
									        padding: 0 20px;
									        position: relative;
									        top: 392px;
									        left: unset;
									    }

									    .about-img {
									        width: 80%;
									        max-width: 270px;
									        position: relative;
									        left: 160px;
									        top: -47px;
									    }

								 header h1{
									    		font-size: 31px;
									    	    position: relative;
									        	top: 113px;
									    }


									    h2{
									    	font-size: 18px;
									        left: 63px;
									        top: 120px;
									        text-align: center;
									    }

									    .sections {

									    	width: 80%;
									    	gap: 62px;
									    }

									    .date{

									    	font-size: 13px;

									    }

									    .title {

									    	font-size: 15px;
									    }

									.description {

									    font-size: 12px;

										}
									    .card{

									    	width: 148px;
									        height: 190px;
									        border-radius: 23px;
									        position: relative;
									        left: 27px;
									        top: 120px;
									    }

									    .journey-section h2 {
									        font-size: 28px;
									    }

									    .journey-section .container {
									        flex-direction: column;
									        align-items: center;
									    }

									    .journey-section .container .column {
									        width: 100%;
									    }

									    .journey-section .card h3 {
									        font-size: 20px;
									    }

									    .journey-section .card p {
									        font-size: 14px;
									    }


										.skills-section h1 {
									    	font-size: 31px;
									        position: relative;
									        top: 350px;
									        left: 0px;
										}

									    .skills-section {
									        width: 100%;
									    }

									    .skills-container {
									        width: 96%;
									        align-items: center;
									        flex-wrap: wrap;
									    }

.coding-skills h2, .professional-skills h2 {
									    font-size: 18px;
									    position: relative;
									    top: 88px;
									    left: 38px;
									    text-align: center;
										}

									    .coding-skills {
									        width: 50%;
									        top: 217px;
									    }

						.professional-skills {
									        width: 50%;
									        top: 120px;
									    }

									    .skill-bar {
									                width: 100%;
									        margin-bottom: 15px;
									        position: relative;
									        top: 65px;
									    }
									    
									    
									    .skill-info span {
									        font-size: 10px;
									    }

				.skill-progress .progress {
									        height: 10px;
									    }

							.contact-section {
									        width: 100%;
									        
									    }

									    .box2 {
									    
									    height: 885px;
									   
									}

							.contact-section h1 {

									        font-size: 31px;
									        margin-bottom: 20px;
									        position: relative;
									        top: 344px;
									        left: 1px;
									    
									}

							.contact-form {
									    	position: relative;
									        top: 362px;
									        left: 5px;
									}


					.contact-form .input-group {
									        display: flex;
									        position: relative;
									        justify-content: space-evenly;
									    }

									    
			.contact-form .input-group input {
									        width: 37%;
									        font-size: 13px;
									        
									    }

					.contact-form textarea {
									        width: 93%;
									        position: relative;
						       						        
									    }

						.contact-form button {
									        padding: 7px;
									        left: 176px;

									    }

							.footer-container {
									        flex-direction: column;
									        
									    }

							.footer-section {
									        margin: 10px 0;
									        text-align: center;
									    }

							.footer-section h2 {
									   
									        left: 73px;
									}

									}
